body, html {
    height: 100%;
    margin: 0;
    background-color: #000;
    /* Font details */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
    color: #ddd;
}
.bg {
    /* The main image used */
    background-image: url("Duels_landscape_upper_right_10.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Align and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;

    overflow: scroll;
  }

/* Colourize headers */
.tourney {
    text-align: center;
    text-shadow: 2px 2px 10px #D316AD;
}

h2,h3 {
    text-shadow: 2px 2px 10px #a2a203;
}

.main_tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
 }
.main_tabs input[type="radio"] {
    display: none;
}
.main_tabs label {
    padding: 15px;
    background: #352637;
    font-weight: bold;
}

.main_tabs .tab {
    width: 100%;
    order: 1;
    display: none;
 
    margin-right: 20px;
}

.main_tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.main_tabs input[type="radio"]:checked + label {
    background: #5C4260
}

.text_tab {
    /* max-width: 80ch; doesn't work because if browser wide, text_tab slips out from tab buttons */
    margin: 0 auto;
    padding: 0px 20px;

    /* below roughly matches current Challonge iframe styles */
    border-style: solid;
    border-color: #999;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-width: 2px;
}

p {
    max-width: 80ch;
}

.link_text {
    padding-top: 8px;
}

#social-media-list, #social-media-list p, #social-media-list {
    list-style: none;
    margin:20; padding:0;
}
    
#social-media-list > li{
    float:left;
    margin-right: 20px;
    width: 80%;
}

#social-media-list > li > .image:hover {
    background-color: #ddd;
}

#social-media-list > li > .image{
    display:block;
    float:left;
    margin-right:10px;
}

/* these instructions are to force the dimensions of image and its container <a> */
#social-media-list > li > .image,
#social-media-list > li > .image > img{
    width:64px;
}

/* Need links to show up somehow on our dark purple background. */
a:link {
    color: #EDEB03;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #D8D803;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #D316AD;
    background-color: transparent;
    text-decoration: underline;
}
  